/* TODO
 style the search box the same way as here:

 https://google.github.io/closure-library/api/
 */

.template {
  display: none;
}

:root {
  --mdc-theme-primary: #212121;
  --mdc-theme-accent: #64DD17;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.mdc-toolbar a, .mdc-toolbar a:visited {
  text-decoration: none;
  color: #f0f0f0;
}

.searchBox {
  margin-top: -7px;
  margin-bottom: -25px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 38px;
  padding-right: 10px;
  border: 0;
  box-shadow: inset 1px 1px 2px 0 #707070;
  font-size: 20pt;
  background: #e0e0e0;
}

.searchBox:focus {
  outline: none;
  background: #f0f0f0;
}

.searchIcon {
  position: absolute;
  margin-left: 9px;
  top: calc(50% - 24px / 2);
  color: #212121;
}

#userList {
  padding-top: 8px;
}

#userList > li {
  cursor: pointer;
}

#userList .mdc-grid-tile__secondary {
  background: rgba(0, 0, 0, 0.3);
}

#userListActions {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#userListActions #loadMore {
  margin: auto;
}
